<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ site.title }}</title>
	<link rel="stylesheet" href="{{ "/assets/css/custom.css" }}	">
	<link rel="alternate" type="application/atom+xml" title="Blog Feed" href="/feed.xml">
	<link rel="alternate" type="application/atom+xml" title="Project Feed" href="/feed/projects.xml">
	<!-- Favicon made by Freepik from www.flaticon.com is licensed by CC 3.0 BY -->
	<link rel="icon" href="/assets/img/favicon.svg" type="image/svg+xml">

	<meta name="keywords" content="Severin Schols, Severin Scholz, Schols, MakerVan Labs" />

	{% if page.img %}
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@tiefpunkt" />
	<meta name="twitter:creator" content="@tiefpunkt" />
	<meta name="twitter:image" content="{{site.url}}{{ page.img }}" />
	<meta property="og:url" content="{{site.url}}{{ page.url }}" />
	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:description" content="{{ page.excerpt | strip_html | strip }}" />
	<meta property="og:image" content="{{site.url}}{{ page.img }}" />
	{% elsif page.excerpt %}
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@tiefpunkt" />
	<meta name="twitter:creator" content="@tiefpunkt" />
	<meta property="og:url" content="{{site.url}}{{ page.url }}" />
	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:description" content="{{ page.excerpt | strip_html | strip }}" />
	{% endif %}

</head>

<body id="top">
	<div class="container">
		<section class="headerbar">
			<header class="row">
				<div class="col is-vertical-align">
					<h1 class="is-marginless is-text-uppercase"><a href="/">S<small>everin</small> S<small>chols</small></a></h1>
				</div>
				<div class="col is-right">
					<nav class="tabs">
						<a href="/projects">projects</a>
						<a href="/publicity.html">publicity</a>
						<a href="https://social.tchncs.de/@tiefpunkt" rel="me"><img src="https://icongr.am/simple/mastodon.svg?size=16" alt="mastodon"></a>
						<a href="https://notes.tiefpunkt.com/""><img src="https://icongr.am/material/notebook-outline.svg?size=16" alt="notes"></a>
						<!-- <a href="https://twitter.com/tiefpunkt"><img src="https://icongr.am/simple/twitter.svg?size=16" alt="twitter"></a> -->
						<a href="https://instagram.com/that_severin"><img src="https://icongr.am/simple/instagram.svg?size=16" alt="instagram"></a>
						<a href="https://www.tindie.com/stores/makervan/"><img src="https://icongr.am/material/storefront.svg?size=16" alt="tindie shop"></a>
					</nav>
				</div>
			</header>
		</section>


			{{ content }}
		<footer>
			&copy; Severin Schols, 2025. <a href="/impressum.html">Impressum</a>. <a href="/dsgvo.html">Datenschutzerklärung</a>.
		</footer>
		</div>
